body { background: black;}
h1 {
    color: rgb(239,255,186);
    background: rgb(252,67,69);
    border: solid rgb(239,255,186) 5px;
    padding: 10px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h2 {
    color: rgb(239,255,186);
    font-family: sans-serif;
}

p {
    color: cyan;
    font-family: sans-serif;
}

#link{
    color: rgb(239,255,186);
    
}