<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/css/rpcalc.css" />
    <title>About</title>
  </head>
  <body>
    <table>
      <tr>
        <td class="navbar"><a href="{{ url_for('index') }}">Home</a></td>
        <td class="navbar">
          <a href="{{ url_for('about') }}">About</a>
        </td>
        <td class="navbar">
          <a href="{{ url_for('rpcal') }}">RP Calculator</a>
        </td>
      </tr>
    </table>

    <h1>About Myself</h1>
    <p>I am...</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, sint alias
      laborum voluptates quidem eaque hic id corrupti nihil quisquam sit
      blanditiis, eius voluptatem exercitationem numquam adipisci pariatur
      quaerat iure.
    </p>
  </body>
</html>
