<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/css/rpcalc.css" />
    <title>Rank Point Calculator</title>
  </head>
  <body>
    <table>
      <tr>
        <td class="navbar"><a href="{{ url_for('index') }}">Home</a></td>
        <td class="navbar">
          <a href="{{ url_for('about') }}">About</a>
        </td>
        <td class="navbar">
          <a href="{{ url_for('rpcal') }}">RP Calculator</a>
        </td>
      </tr>
      <form action="/rpcal2/" method="POST">
    </table>

    <h1>Rank Point Calculator</h1>
    <table>
      <tr>
        <th class="head">Subject</th>
        <th class="head">Grade</th>
      </tr>
      <tr>
        <td class="grader">H2 Subject 1</td>
        <td class="grader">
          <select class="graderselect" name="h21">
            <option value="20.00">A</option>
            <option value="17.50">B</option>
            <option value="15.00">C</option>
            <option value="12.50">D</option>
            <option value="10.00">E</option>
            <option value="5.00">S</option>
            <option value="0.00">U</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="grader">H2 Subject 2</td>
        <td class="grader">
          <select class="graderselect" name="h22">
            <option value="20.00">A</option>
            <option value="17.50">B</option>
            <option value="15.00">C</option>
            <option value="12.50">D</option>
            <option value="10.00">E</option>
            <option value="5.00">S</option>
            <option value="0.00">U</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="grader">H2 Subject 3</td>
        <td class="grader">
          <select class="graderselect" name=h23>
            <option value="20.00">A</option>
            <option value="17.50">B</option>
            <option value="15.00">C</option>
            <option value="12.50">D</option>
            <option value="10.00">E</option>
            <option value="5.00">S</option>
            <option value="0.00">U</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="grader">H1 Subject</td>
        <td class="grader">
          <select class="graderselect" name = h11>
            <option value="10.00">A</option>
            <option value="8.75">B</option>
            <option value="7.50">C</option>
            <option value="6.25">D</option>
            <option value="5.00">E</option>
            <option value="2.50">S</option>
            <option value="0.00">U</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="grader">General Paper</td>
        <td class="grader">
          <select class="graderselect" name = "gp">
            <option value="10.00">A</option>
            <option value="8.75">B</option>
            <option value="7.50">C</option>
            <option value="6.25">D</option>
            <option value="5.00">E</option>
            <option value="2.50">S</option>
            <option value="0.00">U</option>
          </select>
        </td>
      </tr>
      {% if pw == "1" %}
      <tr>
        <td class="grader">Project Work</td>
        <td class="grader">
          <select class="graderselect" name="pw">
            <option value="10.00">A</option>
            <option value="8.75">B</option>
            <option value="7.50">C</option>
            <option value="6.25">D</option>
            <option value="5.00">E</option>
            <option value="2.50">S</option>
            <option value="0.00">U</option>
          </select>
        </td>
      </tr>
      {% else %}{% endif %} {% if mt == "1" %}
      <tr>
        <td class="grader">Mother Tongue</td>
        <td class="grader">
          <select class="graderselect" name="mt">
            <option value="10.00">A</option>
            <option value="8.75">B</option>
            <option value="7.50">C</option>
            <option value="6.25">D</option>
            <option value="5.00">E</option>
            <option value="2.50">S</option>
            <option value="0.00">U</option>
          </select>
        </td>
      </tr>
      {% else %}
      {% endif %}
    </table>

    <p>
      <input type="submit" value="Calculate!"/>
    </p>
  </form>
  </body>
</html>
